.header_flex{
    align-items: center;
    display: flex;
}
.page-header{
    border-bottom: solid 1px var(--header-border-color) ;
}
.page-navigation{
    display: flex;
    align-items: center; 
}
.menu{ 
    display: flex;
    align-items:center;
    column-gap: 50px ; 
}
.menu__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   color: var(--primary-text-dark-color);
   transition: color var(--transition-duration) var(--transition-timing-function) ;
    position: relative;
    padding: 32px 0;
    display: block;
    &:hover,
    &:focus
{
    color:var(--accent-color);
}
    &:hover::after,
    &:focus::after{
        width: 100%;
        border-radius: 2px;
        height: 4px;
        position: absolute;
        content: "";
        background-color: var(--accent-color);
        opacity: 0;
        transition: opacity var(--transition-duration) var(--transition-timing-function);
        left: 0;
        bottom:0;
        opacity: 1;
    }
    }
.menu__link_current::after {   
     position: absolute;
    content: "";
    background-color: var(--accent-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    left: 0;
    bottom:0;
}
.link.menu__link_current {
    color: var(--accent-color);
}
.header-contact{ 
    display:flex;
    column-gap:50px;
    margin-left: auto;
}
.header-contact__email{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-dark-color);
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: color var(--transition-duration) var(--transition-timing-function) ;
    &:hover,
    &:focus{
    color:var(--accent-color);
    }
}
.email__icon{ 
    width:16px ; height: 12px;
fill: var(--header-icon-color);
transition: fill var(--transition-duration) var(--transition-timing-function);
.header-contact__email:hover &,
.header-contact__email:focus &{
    fill: var(--accent-color);
}
}
.header-contact__tel{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-text-dark-color);
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: color var(--transition-duration)  var(--transition-timing-function);
    &:hover,    
    &:focus{
    color:var(--accent-color);
    }
}
.tel__icon{
    fill: var(--header-icon-color);
     width: 10px; height: 16px;
     transition: fill var(--transition-duration) var(--transition-timing-function);
     .header-contact__tel:focus &,
     .header-contact__tel:hover &{
     fill: var(--accent-color);
 }
    }