.header-logo{
    margin-right: 93px;
    
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color:var(--logo-text-color);
    
}
.logo-web{color:var(--logo-web-color) ; }
.footer__logo{
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    margin-bottom: 20px;
    color:var(--text-light-color);
    display: block;}