.modal-window{
    width:528px ;
    height:580px ;
    background-color: var(--modal-background-color);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 40px;
}
.modal-window__btn_close{
    position: absolute;
    right: 8px;
    top: 8px;
    @extend %align;
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    border:solid 1px var(--modal-close-btn-border-color) ;
    box-shadow:  0px 1px 3px var(--modal-close-btn-shadow-first-color),
      0px 1px 1px var(--modal-close-btn-shadow-second-color),
      0px 2px 1px var(--modal-close-btn-shadow-third-color);
    &:hover,
    &:focus{
    fill:var(--accent-color);
}
}
.modal-window__icon_close{
    width: 18px;
    height: 18px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}
