.modal-window__btn_open{
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--modal-btn-border-color);
    border-radius: 4px;
    padding: 10px 32px;
    font-size:16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--modal-btn-background-color);
    color: var(--text-light-color);
    transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function) ;
    &:hover,
    &:focus{
    background-color: var(--accent-color);
    color:var(--text-light-color);
}
}
