:root{
    --accent-color:#2196F3;
    --primary-text-dark-color: #212121;
    --secondary-text-dark-color:#757575;
    --text-light-color:#FFFFFF;
    --logo-text-color:#000000;
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#2F303A;
    --modal-btn-background-color:#2196F3;
    --logo-web-color:#2196F3;
    --team-background-color:#F5F4FA;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
    --portfolio-project-background-color:#EEEEEE;
    --portfolio-btn-background-color:#F5F4FA;
    --hero-color:#FFFFFF;
    --modal-btn-border-color:#2196F3;
    --header-border-color:#ECECEC;
    --team-card-background-color:#FFFFFF;
    --team-card-border-color:#FFFFFF;
    --portfolio-box-border-color:#EEEEEE;
    --hero-line-gradient:rgba(47, 48, 58, 0.4);
    --team-box-shadow:rgba(0, 0, 0, 0.25);
    --portfolio-card-hover-shadow:rgba(0, 0, 0, 0.25);
    --portfoio-btn-shadow:rgba(0, 0, 0, 0.25);
    --hero-background-shadow:rgba(0, 0, 0, 0.25);
    --hero-background-color:#C4C4C4;
    --header-icon-color:#757575;
    --svg-background-color:#F5F4FA;
    --team-social-color:#AFB1B8;
    --team-social-color-hover-focus:#FFFFFF;
    --client-logo-color:#AFB1B8;
    --client-logo-border-color:#AFB1B8;
    --footer-social-background-color:#44454E;
    --footer-social-icon-color:#FFFFFF;
    --overlay-background-color:rgba(33, 150, 243, 0.9);
    --transition-duration:250ms;
    --transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-background-color:rgba(0, 0, 0, 0.2);
    --modal-background-color:#FFFFFF;
    --modal-close-btn-border-color:rgba(0, 0, 0, 0.1);
    --modal-close-btn-shadow-first-color:rgba(0, 0, 0, 0.12);
    --modal-close-btn-shadow-second-color:rgba(0, 0, 0, 0.14);
    --modal-close-btn-shadow-third-color:rgba(0, 0, 0, 0.2);
    --features-text-backdrop-background-color:rgba(47, 48, 58, 0.8);
    --modal-form-input-border-color:rgba(33, 33, 33, 0.2);
    --modal-message-placeholder-color:rgba(117, 117, 117, 0.5);
    --modal-fill-icon-use:#FFFFFF;
    --modal-icon-border-color:#212121;
    --modal-btn-shadow-color:rgba(0, 0, 0, 0.25);
    --footer-btn-submit-background-color:#2196F3;
    --footer-btn-submit-border-color:#2196F3;
    --footer-icon-send-fill-color:#FFFFFF;
    --footer-input-background-color:#2F303A;
    --footer-input-border-color:rgba(255, 255, 255, 0.3);
    --footer-input-placeholder-color:rgba(255, 255, 255, 0.6);
    --mobile-menu-accent-color:#2196F3;
    --mobile-menu-border-color:rgba(33, 33, 33, 0.2);

}